name: Benchmark

on:
  workflow_dispatch:
    input: {}

jobs:
  bench:
    name: Generate Benchmark
    strategy:
      fail-fast: true
      matrix:
        os:
          - ubuntu-latest
        go:
          - "1.19"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}

      - name: Benchmark
        run: go test -bench=. -benchmem ./... | tee >benchmark.txt

      - name: Push Result
        run: |
          git config user.name gh-actions
          git config user.email gh-actions@github.com
          git add benchmark.txt
          git commit -m "[Action] Benchmark results"
          git push
