name: Release

on:
  push:
    branches:
      - "main"
  workflow_dispatch:
    inputs:
      tag:
        description: "Custom tag"
        required: false
        type: string


jobs:
  build:
    name: Build Before Release
    strategy:
      fail-fast: true
      matrix:
        os:
          - "ubuntu-latest"
          - "macos-latest"
        go:
          - "1.19"

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
      - name: Build
        run: go build -v ./...

      - name: Test and Coverage Report
        run: go test -race -covermode=atomic -coverprofile=coverage.out ./...

  release:
    needs: build
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v3
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: "minor"
          custom_tag: "${{ github.event.inputs.tag }}"
      - name: Create a GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.tag_version.outputs.new_tag }}
          name: Release ${{ steps.tag_version.outputs.new_tag }}
          body: ${{ steps.tag_version.outputs.changelog }}
